name: Docker Image CI

on:
 workflow_dispatch:
   
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Checkout 
        run: docker build -t baseimage:${{ github.sha }} -f Dockerfile .

      # - name: Configure AWS Credentials
      #   uses: aws-actions/configure-aws-credentials@v2
      #   with:
      #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     aws-region: ${{ secrets.AWS_REGION }}

      # - name: Login to Amazon ECR
      #   id: login-ecr
      #   run: aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username ${{ secrets.AWS_UID }} --password-stdin ${{ secrets.AWS_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com

      # - name: Build and Push Docker Image
      #   run: |
      #     docker build -t ${{ env.image_name }}:${{ github.sha }} -f Dockerfile .
      #     docker tag snapone-runner:${{ github.sha }} ${{ secrets.AWS_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com:${{ env.image_name }}:${{ github.sha }}
      #     docker push ${{ secrets.AWS_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com:${{ env.image_name }}:${{ github.sha }}
